# Ignorar el entorno virtual
.venv/

# Ignorar el paquete node_modules
node_modules

# Ignorar archivos grandes
#*.h5
*.dll
*.pyd

# Ignorar otros archivos temporales o no deseados
__pycache__/
*.pyc
*.pyo

# Ignorar el directorio de uploads dentro de static
/static/uploads/