body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #206a8d;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 48px;
}

.header p {
    margin: 5px;
    font-size: 18px;
}

.navbar {
    background-color: #206a8d;
}

.container_imagen {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container_sesion {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container_registro {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container_perfil {
    max-width: 550px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.container_perfil h1, .container_perfil h2 {
    text-align: center; 
}

.container_perfil label {
    margin-left: 5px;
}

.container_historial {
    margin: 50px auto;
    text-align: center;
}


#imagenes {
    max-width: 95%;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.mensaje-vacio {
    grid-column: 1 / -1; 
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    margin: 10px 0;
}

.reg{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.reg:focus {
    border-color: #206a8d;
    outline: none;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.auth {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth:focus {
    border-color: #206a8d;
    outline: none;
}

.btn, #carga_imagen {
    padding: 10px 20px;
    background-color: #206a8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 48%;
}

.btn:hover, #carga_imagen:hover {
    background-color: #14536a;
}

#guardar_perfil {
    padding: 10px 20px;
    background-color: #206a8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px;
    width: 24%;
}

#guardar_perfil:hover {
    background-color: #14536a;
}

#eliminar_cuenta {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s;
    width: 35%;
}

#cancelar {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s;
    margin-left: 15%;
    width: 24%;

}

#btn_perfil{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.reset {
    padding: 10px 20px;
    background-color: #fd8c02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 42%;
}

.registro {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fd8c02;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s;
    width: 38%;
}

.registro:hover {
    background-color: #d67402;
}

img {
    max-width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.prediction {
    font-size: 20px;
    color: #206a8d;
    margin-top: 20px;
}

#imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#mensaje_error_registro {
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 25px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
}

#mensaje_exitoso {
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
    padding: 15px;
    margin: 20px auto;
}

#fecha_creacion {
    border: solid white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img:hover {
    transform: scale(1.2)
}

#imgModal {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}