<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
    <script src="../static/js/limpiarDataList.js"></script>
    <script src="app.js?v=2.0"></script>
    <title>TesaNet</title>
</head>

<body>

    <header class="header">
        <h1>TesaNet</h1>
        <p>Identificador de neumonías virales y bacterianas</p>
    </header>

    <nav class="navbar navbar-dark px-3" style="background-color: #206a8d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>      
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cargar_imagen">Inicio</a></li>
                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                <li><a class="dropdown-item" href="/paciente">Pacientes</a></li>
                <li><a class="dropdown-item" href="/historial">Historial</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/cerrar_sesion">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>

    {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% if mensajes %}
            {% for category, mensaje in mensajes %}
                {% if category == 'error' %}
                    <div id="mensaje_error_registro">
                        {{ mensaje }}
                    </div>
                {% else %}
                    <div id="mensaje_exitoso">
                        {{ mensaje }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <section class="container_imagen">
        
        <h2>Clasificación</h2>

        <form action="/resultado" method="post" enctype="multipart/form-data">
            <label for="entrada_paciente">Seleccionar paciente</label><br>
            <input list="pacientes" name="entrada_paciente" id="entrada_paciente" placeholder="Pacientes" required/>

            <datalist id="pacientes" name="pacientes">
                {% if pacientes %}
                    {% for paciente in pacientes %}
                    <option value="{{paciente[0]|string + ' - ' + paciente[1] + ' - ' + paciente[2] + ' ' + paciente[3]}}"></option>
                    {% endfor %}
                {% else %}
                        <option>Registros no encontrados</option>
                {% endif %}
            </datalist><br>

            <label for="file">Subir una imagen para clasificación</label><br>
            <input type="file" name="file" accept="image/*" required>
            <br>

            <button class="btn" id="carga_imagen" type="submit">Cargar y clasificar</button>
        </form>

        {% if prediction %}
        <div class="prediction">
            Se sugiere que la imagen cargada es: {{ prediction }}
        </div>
        <img src="{{ image }}" alt="Imagen cargada" width="300px">
        {% endif %}
    </section>

</body>

</html>
