<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TesaNet</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header class="header">
        <h1>TesaNet</h1>
        <p>Identificador de neumonías virales y bacterianas</p>
    </header>

    <nav class="navbar navbar-dark px-3" style="background-color: #206a8d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>      
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cargar_imagen">Inicio</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="/historial">Historial</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/cerrar_sesion">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>

    <section class="container_historial">
        <h2>Historial</h2>
        <div id="imagenes">
        {% if imagenes %}
                {% set etiqueta = {'N': 'Normal', 'V': 'Neumonia Viral', 'B': 'Neumonia Bacteriana'} %}
                {% for item in imagenes %}
                    <div class="item">
                        <img src="{{ url_for('static', filename='uploads/' + item[0] + '.' + item[1]) }}" width="300px" height="300px" alt="Imagen del historial">
                        <p>Fecha: {{ item[2] }}</p>
                        <p>Tipo: {{ etiqueta[item[3]] }}</p>
                        <p>Probabilidad: {{ (item[4]) | round(2) }}%</p>
                    </div>
                {% endfor %}
        {% else %}
            <p>No hay imágenes en el historial.</p>
        {% endif %}
        </div>
    </section>
</body>
</html>
