<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
    <title>TesaNet</title>
</head>

<body>

    <header class="header">
        <h1>TesaNet</h1>
        <p>Identificador de neumonías virales y bacterianas</p>
    </header>

    <nav class="navbar navbar-dark px-3" style="background-color: #206a8d;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>      
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cargar_imagen">Inicio</a></li>
                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                <li><a class="dropdown-item" href="/historial">Historial</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/cerrar_sesion">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="container_perfil">
        <h2>¡Bienvenido, {{ usuario.nombre }}!</h2>

        <h3>Perfil</h3>

        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ usuario.id }}"/>
            
            <label for="nombre">Nombre</label><br>
            <input type="text" class="reg" name="nombre" value="{{ usuario.nombre }}" required/><br>

            <label for="apellido">Apellido</label><br>
            <input type="text" class="reg" name="apellido" value="{{ usuario.apellido }}" required/><br>

            <label for="correo">Correo</label><br>
            <input type="email" class="reg" name="correo" value="{{ usuario.correo }}" required/><br>

            <label for="nombre_usuario">Nombre de usuario</label><br>
            <input type="text" class="reg" name="nombre_usuario" value="{{ usuario.nombre_usuario }}" required/><br>

            <label for="fecha_creacion" name="fecha_creacion">Fecha de creación</label><br>
            <input type="text" class="fecha_creacion" name="fecha_creacion" value="{{ usuario.fecha_creacion }}" disabled/><br>

            <div id="btn_perfil">
                <a id="eliminar_cuenta" href="/eliminar">Eliminar Cuenta</a>
                <a id="cancelar" href="/cargar_imagen">Cancelar</a>
                <button id="guardar_perfil" type="submit">Guardar</button>
            </div>
        </form>

        {% if prediction %}
        <div class="prediction">
            Se sugiere que la imagen cargada es: {{ prediction }} 
        </div>
        <img src="{{ image }}" alt="Imagen cargada" width="300px">
        {% endif %}
    </section>

</body>

</html>
